body {
  background-color:   #150000;
  color:  #FFC300;
  font-family: serif, monospace;
  display: flex;
  justify-content: center;
  }

h1{
    font-size: 4.5em;
    font-family:serif, fantasy,cursive;
    color: #ff0000;
    margin-bottom: 3px
  }
h2{
    font-size: 3em;
    font-family:serif, sans-serif, cursive, fantasy;
    color: #ffffff;
    padding: .3em;
  }

.aboutMain{
  max-width: 800px;
  font-size: 1.7em;
  font-family: Georgia, serif, sans-serif;
  color: #ffffff;
  padding-top: 1em;
  text-align: justify;
}
.boutHeader i{
  font-size: 1.8em;
}

.aboutHeader a{
  opacity:.5;
}

.aboutHeader a:hover{
  opacity:1;
}

.aboutMain a{
  color:#ff0000;
}

.aboutMain a:hover{
  color:#FFC300;
}

.resume{
  background: #9b59b6;
  border-radius:.3em;
  color: #ffffff;
  font-size:1.8em;
  padding: .1em .25em;
  vertical-align:.25em;
  font-style: normal;
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}





#home1{
  padding-top: 12%;
  text-align: center;
}

.center1{
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: 100%;
  height: 100%;
}

/******* MEDIA ***************************************************************/

@media (max-width:700px) {
      h1 {
        font-size: 2.2em;
      }
      .aboutMain {
        font-size: 1.1em;
        text-align: left;
      }
      #home1{
        padding-top: 15%;
        text-align: center;
      }
      .aboutHeader i{
        font-size: 1.5em;
      }
      .aboutHeader .resume{
        font-size:.95em;

      }
}

@media (max-height:450px) {
      h1 {
        font-size: 2.2em;
      }
      h2 {
        font-size: 1.5em;
      }
      .aboutMain {
        font-size: 1em;
        text-align: justify;
      }
      #home1{
        padding-top: 12%;
        text-align: center;
      }
}
