body {
  background-color:    #424242;
  color:  #FFC300;
  font-family: serif, monospace;
  }

h1{
    font-size: 4.5em;
    font-family:serif, fantasy,cursive;
    color: #ff0000;
  }

h2{
    font-size: 1.2em;
    font-family:fantasy, serif;
    color: #6329ca;
  }

a:hover{
    text-decoration:none;
  }

.list {
    font-size: 1em;
    font-family: serif, Georgia, cursive;
    color: red;
    text-align: center;
  }

.thumbnail img{
  height: 180px;
  width: auto;
}

.thumbnail{
  background-color: #7986cb;
  box-shadow: 6px 5px 6px rgb(141, 133, 133);
}

.thumbnail:hover{
  background-color: #f57f17;
}

.portfoMain{
    max-width: 800px;
    font-size: 1.5em;
    font-family: Georgia, serif, sans-serif;
    color: #ffffff;
    text-align: justify;
  }

#home1{
  padding-top: 8%;
  text-align: center;
}

.center1{
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: 100%;
  height: 100%;
}

/******* MEDIA ***************************************************************/

@media (max-width:700px) {
      h1 {
        font-size: 2.5em;
      }
      h2 {
        font-size: 4vmin;
      }
      .list{
        font-size: 1.8em;
      }
      .portfoMain{
        max-width: 500px;
        font-size: .75em;
      }
      #home1{
        padding-top: 15%;
        text-align: center;
      }
      .thumbnail img{
        max-height: 150px;
        width: auto;
      }
    }
