body {
  background-color:   #424242;
  font-family: serif, monospace;
  }

h1{
    font-size: 4.5em;
    font-family:serif, fantasy,cursive;
    color: #ff0000;
    margin-bottom: 0;
  }

h2{
    font-size: 1.6em;
    font-family:georgia, sans-serif, cursive, fantasy;
    color: #e67e22;
    margin: 0;
    padding: 0 1em .5em;
  }

h3{
    font-family: serif, sans-serif;
    color:  #FF0000 ;
    margin-top: .1px;
    font-weight: bold;
  }
  p{
      font-size: 1.5em;
      font-family: serif, sans-serif;
      color:  #ffffff ;

    }

.list li {
      list-style-type: none;
      color: #ba68c8;
      margin: .15em;
      font-size: 4em;
  }

.list {
    font-size: 2em;
    max-width: 600px;
    font-family: serif,cursive;
    color: red;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .skillsHeader{
    max-width: 600px;
    margin: 0;
  }

.center1{
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  width: 100%;
  height: 100%;
}

/******* MEDIA ***************************************************************/

@media (max-width:700px) {
    h1 {
      font-size: 3.5em;
    }
    .list {
      font-size: 1.5em;
      max-width: 500px;
      line-height: 1.6em;

    }
    .skills {
      margin-top: 1.5em;
      max-width: 500px;
    }
    .skillsHeader{
      max-width: 500px;
      padding: 0 .5em;
    }
  }

@media (max-height:570px) {
    .list {
      font-size: 1.1em;
      margin: 0;
      line-height: 1.6em;
      margin-top: -1em;
    }
    .list li {
      margin: .1em;
    }
    .skills {
      margin-top: 1.2em;
    }
    p{
      font-size:1.25
      margin:0;
    }
  }
