body {
  background-color:  #b4e8e7 ;
  color:  #FFC300;
  ba ckground:url(https://goo.gl/QL3LF7);

  }
h1{
  font-size: 50px;
  font-family:lobster, fantasy,cursive;

  color: maroon;
}
h2{
  font-size: 40px;
  font-family:lobster, fantasy,cursive;

  color: maroon;
}
.searchBox{
  text-align: center;
  max-width: 200px
  margin:auto;

}
.resultBox{
  max-width: 900px;
  padding: 1em;
  margin: auto;
}
.well:hover{
  background-color: #bdbdbd;

  }
  .well{
    background-color:  #e0f7fa ;
    padding: 1em 2em;
    margin: 1em
  }
