*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background:url(img/bg.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Tangerine', cursive;
    color: #FFB51E;
    font-size:40px;
}
strong, b {
    font-weight: bolder;
    color: #FFB51E;
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
    display:inline-block;
}
a{
    text-decoration: none;
    color:white;
}
hr{
    margin-top:-20px;
    border-color:#999;
}

.header{
    max-height:111px;
    padding: 10px 20px;
}
.header .col-md-5{
    margin-left: 15px;
    padding:0;
}
.menus{
    top: 0;
    padding:0;
    float:right;
}
.topMenu{
    position:fixed;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    z-index:10;
    width:100%;
    background:#282828;
    margin-bottom:0;
}

.topMenu li{
    margin:0 -1.5px;
}
.bottomMenu{
    margin: -10 0 0 4px;
    display:inline-block;
}
.bottomMenu li{
    margin-left:-4px;
}
.bottomMenu li a{
    padding: 10px;
}
.bottomMenu li a:hover{
    color: #ffb51e;
    text-decoration: none;
}
.bottomMenu li:hover .subMenu{
    display: block;

}
.subMenu{
    display: none;
    position:absolute;
    background-color: #282828;
    border: solid 1px black;
    box-shadow: 0 0 10px #333;
    -moz-box-shadow: 0 0 10px #333;
    -webkit-box-shadow: 0 0 10px #333;
    border-radius: 10px;
    margin-top: -5px;
    margin-left:0;
    width:195px;
    padding:8px 0;
}
.subMenu li{
    display:block;
    margin:0 8px;
    border-radius:5px;
}
.subMenu li a{
    padding: 13px 12px 11px;
}
.subMenu li:hover{
    background-color:#313131;
}

.container{
    max-width:1000px;
    color:#f2f2f2;
}
.content{
    border-radius:12px;
    background: #282828;
    box-shadow: 0 0 15px .4px #000;
    padding-bottom:.1px;
}
.main .thumbnails .col-md-4{
    padding: 5px;
}
.content p{
    font-size:14px;
    line-height:21px;
}
.main{
    padding:25px 45px 20px;

}

.footer{
    background: #202020;
    border: 1px solid black;
    border-radius: 5px;
    margin: 40px 10px 20px;
    min-height:660px;
    padding:20px 0;
    box-shadow: 0 0 5px .4px #000 inset;
}
.footer .col-md-4{
    padding: 0 30px;
}
.footer img{
    float:left;
    margin-right: 20px;
}
.footer div p{
    margin-top: 15px;
    text-align:left;
    line-height:170%;
}
.button{
    background:#FCD950;
    border:2px solid white;
    border-radius:10px;
    background: linear-gradient(#FCD950, #DDA73D);
}
.button a{
    color:#555;
    text-decoration: none;
    padding:0 8px;
}
.button:hover{
    background:#DDA73D;
    background: linear-gradient(#DDA73D, #FCD950);
}
.footnote{
    padding: 12px 12px;
    color:	#cccccc;
    font-size: 11px;
    line-height:11px;
}
.footnote .signature{
    float: right;
}
.footnote li{
    display: inline;
    list-style: none;
}
.footnote li a{
    color: #cccccc;
    padding:0 1px 0 0;
}
.footnote li a:hover{
    color: #ffb51e;
}

@media (min-width:991px) {
    .menus{
    	max-width: 540px;
    }
    .topMenu{
        position:relative;
        float:right;
        margin:5px 32px 0;
        width:auto;
        left:0;
        transform:translateX(0);
        background:none;
    }
    .bottomMenu{
        margin: 5px 0 0 4px;
    }
    .bottomMenu li a{
        display:block;
        font-family: Arial, Helevtica, Verdana, san-serif;
        color: white;
    	font-size: 12px;
    	font-weight: 400;
    	letter-spacing: 1.3px;
        line-height: 100%;
        padding: 20px 15px 17px 15px;
    }
    .content h1{
        font-size:50px;
    }
    .content h2{
        font-size:45px;
    }
    .content{
        margin:-27px -5px 0;
    }
    .main .thumbnails .col-md-4{
        padding: 35px 15px;
    }
    .main .row h1{
        text-align:left;
    }
    .footnote li a{
        padding:0 25px 0 0;
    }
}
