*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background:url(img/bg.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4, h5{
    font-family: 'Tangerine', cursive;
    color: #FFB51E;
    font-size:40px;
}
strong, b {
    font-weight: bolder;
    color: #FFB51E;
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
    display:inline-block;
}
a{
    text-decoration: none;
    color:white;
}
hr{
    margin-top:-20px;
    border-color:#999;
}

.navbar-toggle{
    background:#FFB51E;
    opacity:0.6;
}
.navbar-collapse{
    padding:0;
}
.icon-bar{
    background: black;
}
.header{
    padding: 10px;
}
.header img{
    margin: 0 auto;
}
.menus{
    width:100%;
    margin-top:15px;
}
.topMenu{
    display:block;
    position:fixed;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    width:100%;
    background:#282828;
    margin-bottom:0;
    z-index:10;
}
.topMenu img{
    transform:scale(1);
}

.topMenu li{
    display:inline-block;
    margin:0;
}
.bottomMenu{
    display:inline-block;
    padding: 6px 4px;
    float: right;
    z-index: 10;
}
.bottomMenu li{
    margin-left:-6px;
    display:block;
    padding:10px 0;
}
.bottomMenu li a{
    padding: 0px;
}
.bottomMenu li a:hover{
    color: #ffb51e;
    text-decoration: none;
}
.bottomMenu li:hover .subMenu{
    display: block;

}
.subMenu{
    display: none;
    position:relative;
    background-color: #282828;
    border: solid 1px black;
    box-shadow: 0 0 10px #333;
    -moz-box-shadow: 0 0 10px #333;
    -webkit-box-shadow: 0 0 10px #333;
    border-radius: 10px;
    margin-top: 2px;
    margin-left:0;
    width:10em;
    padding:8px 0;
    z-index: 1;
}
.subMenu li{
    display:block;
    margin:0 8px;
    border-radius:5px;
    padding:10px;
}
.subMenu li a{
    padding:0;
}
.subMenu li:hover{
    background-color:#313131;
}

.container{
    max-width:90%;
    color:#f2f2f2;
}


@media (min-width:992px) {
    .container{
        max-width:1000px;
    }
    .topMenu img{
        transform:scale(1);
    }
    .header img{
        float:left;

    }
    .menus{
    	max-width: 540px;
        margin-top:0;
    }
    .topMenu{
        display:block;
        position:relative;
        float:right;
        margin:2px 25px 0;
        width:auto;
        left:0;
        transform:translateX(0);
        background:none;
    }
    .bottomMenu{
        margin: 5px 9px 0 4px;
    }
    .bottomMenu li{
        display:inline-block;
    }

    .bottomMenu li a{
        display:block;
        font-family: Arial, Helevtica, Verdana, san-serif;
        color: white;
    	font-size: 12px;
    	font-weight: 400;
    	letter-spacing: 1px;
        line-height: 100%;
        padding: 20px 10px 17px 10px;
    }
    .subMenu{
        position:absolute;
        width:195px;
    }
    .subMenu li{
        display:block;
        padding:0px;
    }

}
@media (min-width:768px) and (max-width:991px) {
    .bottomMenu li{
        margin-left:-4px;
        display:inline-block;
        padding:10px;
    }
    .topMenu{
        float:left;
        margin-top: 12px;
        position:relative;
        left:8%;
        width:auto;
        background:none;
        margin-bottom:10px;
    }

    .subMenu{
        display: none;
        position:absolute;
        background-color: #282828;
        border: solid 1px black;
        box-shadow: 0 0 10px #333;
        -moz-box-shadow: 0 0 10px #333;
        -webkit-box-shadow: 0 0 10px #333;
        border-radius: 10px;
        margin-top: 2px;
        margin-left:0;
        width:195px;
        padding:8px;
        z-index: 1;
    }
    .subMenu li{
        display:block;
        margin:8px;
    }
    .subMenu li a{
        padding:0;
    }
}
